---
import './global.css';
import Router from '@templates/router/index.astro';
import { footer, text } from './index.module.css';

export type Props = {
  title: string;
};

const contact = {
  name: "스도리",
  id: "storycraft",
  email: "storycraft@pancake.sh",
};
---

<html>
  <head>
    <title>{Astro.props.title}</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
    <Router />
  </head>
  <body>
    <slot />
    <footer class={footer} transition:persist>
      <p class={text}>Contact Detail</p>
      <span class={text}>{contact.name} / {contact.id}</span>
      <address class={text}>{contact.email}</address>
    </footer>
  </body>
</html>
